<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\styles.css">
    <script src="https://kit.fontawesome.com/c555069e81.js" crossorigin="anonymous"></script>
    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Jarvis - Healthcare Chatbot</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Jarvis - Healthcare Chatbot</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Features</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Our Team</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">Hi,<br>I'm <span class="home__title-color">Jarvis</span><br>The Chatbot</h1>

                <a href="#contact" class="button">Contact</a>
            </div>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/kapil-kapse-410635215/" class="home__social-icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
                <a href="https://www.instagram.com/kapil.kapse.1612/" class="home__social-icon" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://github.com/kapil-kapse" class="home__social-icon" target="_blank"><i class='bx bxl-github'></i></a>
            </div>

            <div class="home__img">
                <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                        <image class="home__blob-img" x="50" y="60" href="static\images\jarvis.png" />
                    </g>
                </svg>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="static\images\robot.png" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">I'm Jarvis</h2>
                    <p class="about__text">I can provide prospective and current patients with 
                        immediate, specific, and accurate information with a Frequently Asked Questions flow to increase 
                        patient engagement. Being able to ask questions and getting answers interactively 
                        and immediately helps increase patient satisfaction and loyalty. 
                        I have the capability to analyze responses and provide the answer 
                        to their question immediately.</p>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">My Features</h2>

            <div class="skills__container bd-grid">
                <div>
                    <p class="skills__text">I'm running on the rules of 
                        Natural Language Processing, which comes under artificial intelligence. 
                        I have the capability to automate all the repetitive, and lower-level tasks that a 
                        representative would do. When you allow me to handle simple, monotonous tasks, 
                        healthcare professionals are empowered to focus their attention on complex tasks 
                        and take care of them more effectively.
                        Now patients don’t need to wait in line for hours together before a 
                        representative looks into their queries; I can answer those and provide 
                        accurate information instantly! 

                    </p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <span class="skills__name">&nbsp &nbsp Availability around the clock</span>
                        </div>
                        <div class="skills__bar skills__html">

                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <span class="skills__name">&nbsp &nbsp Checking for symptoms</span>
                        </div>
                        <div class="skills__bar skills__css">

                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <span class="skills__name">&nbsp &nbsp Guidance regarding medications and treatment</span>
                        </div>
                        <div class="skills__bar skills__js">

                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <span class="skills__name">&nbsp &nbsp Enhancing patient experience</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bx-alarm skills__icon'></i> -->
                            <span class="skills__name">&nbsp &nbsp Reduce Waiting Time</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                    </div>
                </div>

                <div>
                    <img src="static\images\work3.jpg" alt="" class="skills__img">
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Our Team</h2>

            <div class="work__container bd-grid">
                <a class="work__img">
                    <img src="static\images\team_rajesh.png" alt="">
                </a>
                <a class="work__img">
                    <img src="static\images\team_jarvis.png" alt="">
                </a>
                <a class="work__img">
                    <img src="static\images\team_kapil.png" alt="">
                </a>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer" id="contact">
        <p class="footer__title">Jarvis</p>
        <div class="footer__social">
            <a href="https://www.linkedin.com/in/rajesh-kulkarni2607" class="footer__icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.instagram.com/imrajesh2607" class="footer__icon" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://github.com/imrajesh2607" class="footer__icon" target="_blank"><i class='bx bxl-github'></i></a>
        </div>
        <p class="footer__copy">&#169; Jarvis. All rigths reserved</p><br>
        <p class="footer__copy"><span>Note:</span> This tool is not a substitute for professional medical advice, 
            diagnosis, or treatment. <br>If you are experiencing a life-threatening emergency that requires 
            immediate attention please call 108 or the number for your local emergency service.</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="static\js\main.js"></script>

<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                        alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Jarvis. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

<script>
    $SCRIPT_ROOT = {
        {
            request.script_root | tojson
        }
    };
</script>

<script type="text/javascript" src="static\js\app.js"></script>

</body>

</html>